Repository shiftsecurityleft/infrapipe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-base, build-tools, build-pipeline

.gitlab-ci.yml:

image: docker:latest

services:
  - docker:dind

variables:
  # Use TLS https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#tls-enabled
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: "/certs"

before_script:
  - |
    if [ -x "$(command -v docker)" ]; then  
      docker --version
      docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    fi
  - |
    [ -x "$(command -v terraform)" ] && terraform --version

stages:
  - build-base
  - build-tools
  - build-pipeline
  - test
  - push-tags
  - deploy
  
include:
  - template: Container-Scanning.gitlab-ci.yml
  # uncomment next if it is for app.
  #- template: Dependency-Scanning.gitlab-ci.yml

container_scanning:
  variables:
    GIT_STRATEGY: fetch
    KLAR_TRACE: "true"

.build-docker:
  only:
    refs:
      - branches
    changes:
      - .gitlab-ci.yml
  variables:
    SUB_IMAGE: ""
    DOCKERFILE: "Dockerfile"
  script:
    - docker pull $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG$SUB_IMAGE:latest || true
    - docker build --cache-from $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG$SUB_IMAGE:latest --build-arg IMAGE_REF=$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG --tag $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG$SUB_IMAGE:$CI_COMMIT_SHA -f $DOCKERFILE .
    - docker push $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG$SUB_IMAGE:$CI_COMMIT_SHA
    - docker tag  $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG$SUB_IMAGE:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG$SUB_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG$SUB_IMAGE:latest
    - |
      if [[ -z $SUB_IMAGE ]]; then
        docker tag  $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
        docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
      fi


build-base:
  extends: .build-docker
  only:
    changes:
      - base.Dockerfile
      - .gitlab-ci.yml
  variables:
    SUB_IMAGE: "/base"
    DOCKERFILE: "base.Dockerfile"
  stage: build-base

build-tools:
  extends: .build-docker
  only:
    changes:
      - base.Dockerfile
      - tools.Dockerfile
      - .gitlab-ci.yml
  variables:
    SUB_IMAGE: "/tools"
    DOCKERFILE: "tools.Dockerfile"
  stage: build-tools

build-pipeline:
  extends: .build-docker
  only:
    changes:
      - base.Dockerfile  
      - tools.Dockerfile
      - Dockerfile
      - bin/*
      - .gitlab-ci.yml
  variables:
    SUB_IMAGE: ""
    DOCKERFILE: "Dockerfile"
  stage: build-pipeline
    
push-tags:
  only:
    - tags
  stage: push-tags
  script:
    - docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker tag  $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
    - apk add curl
    # In near future Gitlab release-cli will be used here.
    #- echo "Release -- https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/releases"
    #- |
    #  curl --header 'Content-Type: application/json' --header "PRIVATE-TOKEN: ${GITLAB_API_TOKEN}" \
    #   --data '{ "name": "${CI_COMMIT_REF_NAME}", "tag_name": "${CI_COMMIT_REF_NAME}", "description": "${CI_COMMIT_MESSAGE}", "ref": "${CI_COMMIT_REF_NAME}" }' \
    #   --request POST https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/releases

deploy:
  image:
    name: registry.gitlab.com/shiftsecurityleft/infrapipe/infrapipe-demo:v0.1
  only:
    - /^tf-.*$/
  stage: deploy
  when: manual
  environment:
    name: terraform/$CI_COMMIT_REF_NAME
  script:
    - cd examples/terraform-sample-s3-bucket
    - runTerraformByComment
  artifacts:
    paths:
      - out.tfplan

enable docker for testing
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

enable docker for testing #2
  .gitlab-ci.yml
  base.Dockerfile
  pipeline.Dockerfile
  tools.Dockerfile
Due: build-base, build-tools, build-pipeline

add docker service to docker test
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

change docker version
  .gitlab-ci.yml
  Dockerfile
Due: build-base, build-tools, build-pipeline

change docker version
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

add contributing MD template
  CONTRIBUTING.md
Due: none

added docker-entry
  Dockerfile
  docker-entrypoint.sh
  modprobe.sh
Due: build-pipeline

update the permission on docker-entry
  docker-entrypoint.sh
  modprobe.sh
Due: none

update the permission on docker-entry
  Dockerfile
Due: build-pipeline

change the tag scheme
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

change the tag scheme #2
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

change the tag scheme #3
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

fix the stage name push-image-tags
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

fix the stage name push-image-tags #2
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

fix the stage name push-image-tags #3
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

fix the stage name push-image-tags #4
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

add CMD
  Dockerfile
Due: build-pipeline

add source pipeline
  docker-entrypoint.sh
Due: none

add source pipeline #2
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

add source pipeline #3
  docker-entrypoint.sh
Due: none

add source pipeline #4
  .gitlab-ci.yml
  docker-entrypoint.sh
Due: build-base, build-tools, build-pipeline

add loading function of local manifest.yml
  bin/pipeline-library.sh
Due: build-pipeline

add /bin/bash at the entrypoint
  .gitlab-ci.yml
  Dockerfile
Due: build-base, build-tools, build-pipeline

add /bin/bash at the entrypoint #2
  Dockerfile
  docker-entrypoint.sh
Due: build-pipeline

now pipeline added
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

add SSL_MULTI_ACCOUNTS var
  bin/pipeline-library.sh
Due: build-pipeline

debug on #2
  bin/pipeline-library.sh
Due: build-pipeline

set CI_AWSENV correctely
  bin/pipeline-library.sh
Due: build-pipeline

set CI_AWSENV correctely #2
  bin/pipeline-library.sh
Due: build-pipeline

set CI_AWSENV correctely #3
  bin/pipeline-library.sh
Due: build-pipeline

aws deprecated get-login. changed to get-login-password
  bin/pipeline-library.sh
Due: build-pipeline

debug #16: ecr login changed
  bin/pipeline-library.sh
Due: build-pipeline

added TF_VAR_* to docker build
  bin/pipeline-library.sh
Due: build-pipeline

added mapAppPipelineVars and removed deployEcs
  bin/pipeline-library.sh
Due: build-pipeline

REPO_DIR before mapAppPipelineVars
  bin/pipeline-library.sh
Due: build-pipeline

use TF_VAR_REPO_* for manifest functions
  bin/pipeline-library.sh
Due: build-pipeline

use only vars start with TF_VAR_
  bin/pipeline-library.sh
Due: build-pipeline

fix CI_COMMIT_REF_SLUG
  bin/pipeline-library.sh
Due: build-pipeline

Rename README.md to README.md.bak
  README.md.bak
Due: none
