Repository shiftsecurityleft/infrapipe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-base, build-tools, build-pipeline

build-base:
  variables:
    SUB_IMAGE: /base
    DOCKERFILE: base.Dockerfile
  script:
  - docker pull $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG$SUB_IMAGE:latest || true
  ...

build-tools:
  variables:
    SUB_IMAGE: /tools
    DOCKERFILE: tools.Dockerfile
  script:
  - docker pull $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG$SUB_IMAGE:latest || true
  ...

build-pipeline:
  variables:
    SUB_IMAGE: ''
    DOCKERFILE: Dockerfile
  script:
  - docker pull $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG$SUB_IMAGE:latest || true
  ...

fix 2: run docker command only if exists in before_script
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

upgrade tools
  tools.Dockerfile
Due: build-tools, build-pipeline

fix nvm install error
  tools.Dockerfile
Due: build-tools, build-pipeline

fix python3 install error
  tools.Dockerfile
Due: build-tools, build-pipeline

fix pip install error
  tools.Dockerfile
Due: build-tools, build-pipeline

fix pip3 install error
  tools.Dockerfile
Due: build-tools, build-pipeline

fix python3-pip install error
  tools.Dockerfile
Due: build-tools, build-pipeline

fix terraform install error
  tools.Dockerfile
Due: build-tools, build-pipeline

fix awscli v2 and boto3 conflict issue.
  tools.Dockerfile
Due: build-tools, build-pipeline

Test image
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

test tools ver
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

fix nvm path
  Dockerfile
  tools.Dockerfile
Due: build-tools, build-pipeline

fix #2 nvm path
  .gitlab-ci.yml
  Dockerfile
  tools.Dockerfile
Due: build-base, build-tools, build-pipeline

fix #3 nvm path
  tools.Dockerfile
Due: build-tools, build-pipeline

fix #4 nvm path
  tools.Dockerfile
Due: build-tools, build-pipeline

fix #5 nvm path
  tools.Dockerfile
Due: build-tools, build-pipeline

fix #6 nvm path
  tools.Dockerfile
Due: build-tools, build-pipeline

fix #7 nvm path
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

add except tags for test-image stage
  .gitlab-ci.yml
Due: build-base, build-tools, build-pipeline

PD-106 added initial role setup TF, might have to change location
  examples/quickstart/role_setup.json
Due: none

change CFT to yaml
  examples/quickstart/role_setup.json
  examples/quickstart/role_setup.yaml
Due: none

Updated variables.md
  .gitignore
  VARIABLES.md
Due: none

Updated variables.md #2
  VARIABLES.md
Due: none

Updated variables.md #3
  VARIABLES.md
Due: none

update TF STATE S3 KEY
  QUICKSTART.md
  examples/quickstart/role_setup.yaml
Due: none

add accesskey and fixed SSM for the role
  VARIABLES.xlsx
  examples/quickstart/role_setup.cfn.yaml
  examples/quickstart/role_setup.yaml
Due: none

add accesskey and fixed SSM for the role
  examples/quickstart/role_setup.yaml
Due: none

completed but missing tags
  .gitlab-ci.yml
  examples/quickstart/role_setup.yaml
Due: build-base, build-tools, build-pipeline

added tags
  examples/quickstart/role_setup.yaml
Due: none

InfraPipeIamUser
  examples/quickstart/role_setup.yaml
Due: none

remove metadata and add s3 block public access
  examples/quickstart/role_setup.yaml
Due: none

add role instead of group
  examples/quickstart/role_setup.yaml
Due: none

add tags
  examples/quickstart/role_setup.yaml
Due: none

fixed user policy isue
  Dockerfile
  base.Dockerfile
  examples/quickstart/role_setup.yaml
  tools.Dockerfile
Due: build-base, build-tools, build-pipeline

added launch button and fixed user policy
  QUICKSTART.md
Due: none

added launch button
  QUICKSTART.md
Due: none

added cf-templates
  QUICKSTART.md
  cf-templates/infrapipe-setup.cfn.yaml
Due: none

Path conditions:
  build-base: any of: base.Dockerfile, .gitlab-ci.yml
  build-tools: any of: base.Dockerfile, tools.Dockerfile, .gitlab-ci.yml
  build-pipeline: any of: base.Dockerfile, tools.Dockerfile, Dockerfile, bin/*, .gitlab-ci.yml
