Repository shiftsecurityleft/infrapipe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-base, build-tools, build-pipeline

build-base:
  variables:
    SUB_IMAGE: /base
    DOCKERFILE: base.Dockerfile
  script:
  - docker pull $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG$SUB_IMAGE:latest || true
  ...

build-tools:
  variables:
    SUB_IMAGE: /tools
    DOCKERFILE: tools.Dockerfile
  script:
  - docker pull $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG$SUB_IMAGE:latest || true
  ...

build-pipeline:
  variables:
    SUB_IMAGE: ''
    DOCKERFILE: Dockerfile
  script:
  - docker pull $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG$SUB_IMAGE:latest || true
  ...

test sync cf-templates #1
  cf-templates/infrapipe-setup.cfn.yaml
Due: none

test sync cf-templates #2
  QUICKSTART.md
  cf-templates/infrapipe-setup.cfn.yaml
Due: none

test sync cf-templates #3
  cf-templates/infrapipe-setup.cfn.yaml
Due: none

test sync cf-templates #4
  cf-templates/infrapipe-setup.cfn.yaml
Due: none

ready to PR
  cf-templates/README.md
  cf-templates/infrapipe-setup.cfn.yaml
  examples/quickstart/role_setup.yaml
Due: none

remove tags
  examples/quickstart/role_setup.yaml
Due: none

change assumer role policy to user
  examples/quickstart/role_setup.yaml
Due: none

add comments
  examples/quickstart/role_setup.yaml
Due: none

change indent
  examples/quickstart/role_setup.yaml
Due: none

change the ENV to uppercase
  cf-templates/infrapipe-setup.cfn.yaml
Due: none

changed the role name
  cf-templates/infrapipe-setup.cfn.yaml
Due: none

fix comment
  cf-templates/infrapipe-setup.cfn.yaml
Due: none

using AWSENV instead of CI1
  bin/pipeline-library.sh
Due: build-pipeline

set DO_NOT_ASSUME_ROLE on first getAwsCredFromEnvVars
  bin/pipeline-library.sh
Due: build-pipeline

update InfraPipeIamUserPolicy
  bin/pipeline-library.sh
  cf-templates/infrapipe-setup.cfn.yaml
Due: build-pipeline

set SSL_SINGLE_ACCOUNT
  bin/pipeline-library.sh
  cf-templates/infrapipe-setup.cfn.yaml
Due: build-pipeline

set SSL_MULTI_ACCOUNTS
  bin/pipeline-library.sh
Due: build-pipeline

consolidate to single Dockerfile
  .gitlab-ci.yml
  Dockerfile
  pipeline.Dockerfile
Due: build-base, build-tools, build-pipeline

Update QUICKSTART.md
  QUICKSTART.md
Due: none

change to letters
  QUICKSTART.md
Due: none

test spacing
  QUICKSTART.md
Due: none

add .
  QUICKSTART.md
Due: none

add spaces
  QUICKSTART.md
Due: none

change to use - for sublist
  QUICKSTART.md
Due: none

add image
  QUICKSTART.md
  images/quickstart/quickstart-step-1-import-project.png
Due: none

try numbering
  QUICKSTART.md
Due: none

try letters
  QUICKSTART.md
Due: none

add more images
  images/quickstart/step-1a-import-project.png
  images/quickstart/step-1a-repo-by-url.png
Due: none

use local image
  QUICKSTART.md
Due: none

fix image
  QUICKSTART.md
Due: none

add to quickstart
  QUICKSTART.md
Due: none

replace .bashrc which terminate early when it is not interactive
  Dockerfile
Due: build-pipeline

replace .bashrc which terminate early when it is not interactive #2
  Dockerfile
Due: build-pipeline

can replace .profile
  Dockerfile
Due: build-pipeline

add REPO_BRANCH_ENCODED
  Dockerfile
  VARIABLES.md
  bin/pipeline-library.sh
Due: build-pipeline

disable auto upload of security scan result
  bin/pipeline-library.sh
Due: build-pipeline

disable YAML format conversion of scan result
  bin/pipeline-library.sh
Due: build-pipeline

added docker
  Dockerfile
Due: build-pipeline

added docker #2
  .gitlab-ci.yml
  Dockerfile
Due: build-base, build-tools, build-pipeline

Path conditions:
  build-base: any of: base.Dockerfile, .gitlab-ci.yml
  build-tools: any of: base.Dockerfile, tools.Dockerfile, .gitlab-ci.yml
  build-pipeline: any of: base.Dockerfile, tools.Dockerfile, Dockerfile, bin/*, .gitlab-ci.yml
